@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:'Poppins';
}


body{
    height: 2000px;
    margin: 0;
    padding: 0 3rem;
    background-color: #f2f2f2;  
    
}

header#header-bar{
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; 
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 7px  #00000030; 
}

header#header-bar nav#nbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

header#header-bar img{
    width: 50px;
    height: 50px;   
}


header#header-bar nav#nbar p{
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

section#section-project{
    display: flex; 
    padding: 4rem 0;
    
}

section#section-project div#project-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

section#section-project div#project-info h1{
    margin: 0;
}

section#section-project div#img{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 2rem;
}

section#section-project div#img img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

section#section-pitch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

section#section-pitch div#pitch-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section#section-pitch div#pitch-video{
    padding: 1rem;
}

section#section-prototype{
    padding: 4rem 0;
}
section#section-prototype div#prototype-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section#section-prototype div#prototype-info img{
    width: 150px;
    
}


section#section-prototype div#prototype-img{
    position: absolute;
    margin-top: -55px;
    width: 90%;
    height: 35rem;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 5px 5px 7px  #00000030; 
    display: flex;
    align-items: center;
    justify-content: center;
}

section#section-prototype div#prototype-img img{
    width: 60%;
    height: auto;
    border-radius: 10px;
}   





   